node_modules/
.env
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
# Secrets and configurations
firebase-service-account.json
.env

# Dependency folders
node_modules/
dist/